@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}
:root{
    --bgcolornav: rgba(31, 31, 31, 0.89);
    --bgfaceellements: rgba(31, 31, 31, 0.493);
    --face-coments: rgb(197, 197, 197);

    --cardwith: 250px;
    --cardheight: 300px;
    --cardborderradius: 5px;

    --castlewidth: 300px;
    --castleheight:200px;

    --castlecardwidth: 15%;
    --castlecardheight:250px;
    --castlecardmargin: 2px;

    --bgfooter: rgba(31, 31, 31, 0.89);
    --bgfooterlink: rgba(236, 236, 236, 0.89);
    --bgfooterlinkhoover: rgba(214, 83, 8, 0.89);
}

/* --nav */

.navbar-main{
    background-color: var(--bgcolornav);
    opacity: 0.7;
    width: 100%;
    line-height: 60px;
    position: fixed;
    color: white;
    z-index: 1;
}


.logo-ireland{
    float: left;
    padding: 0 60px;

}
.navbar-links{
    font-size: 17px;
    float: right;
    padding: 0 25px;
}
.navbar-links a{ 
    color: white;  
    padding: 0 25px;
}

/* --end nav */

/* --face*/

.face-main{
    background-image: url(/assets/--face\ -\ Geokaun-Feaghmaan-Kerry-Ireland.jpg);
    background-size: cover;
    height: 700px;
}

.planyourtrip{
    color: var(--face-coments);
    font-size: 23px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    margin: -500px 0 0 20px ;
    height: 100px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.face-coment{
    background-color: var(--bgfaceellements);
    color: var(--face-coments);
    width: 800px;
    height: 300px;
    float: right;
    margin: 100px 0 0 0 ;
    border-radius: 10px;
}
.face-coment1{
    width: 20%;
    height: 100%;
    float: left;
    writing-mode: vertical-rl;
}
.face-coment1 h1{
    color: var(--face-coments);
    text-align: center;
    opacity: 0.7;
}
.face-coment2{
    display: flex;
    margin: 100px 0 0 250px;
    font-size: 20px;
    transition-property: transform;
    
}
.face-coment2:hover h1{
    transform: scale(1.1);
    transition: 0.8s;
}
/* -- end face*/

/* --popular destinations*/

.wheretogo{
    background-color: rgb(230, 231, 228);
    margin-top: 400px;
    width: 100%;
    height: auto;
    padding: 100px;
    overflow: hidden ;

}
.wheretogo h2{
    font-size: 60px;
    padding-top: 20px;
    
}

.card{
    float: left;
    margin: 20px 20px  0 0;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 2px 5px 15px #000000;;
}

.destination1{
    background-image: url(/assets/Ring-of-Kerry-Lookout-Car-Park-Ireland.jpg);
    background-size: cover;
    width: var(--cardwith);
    height: var(--cardheight);
    border-radius: var(--cardborderradius);
    transition: 0.5s;
}
.destination2{
    background-image: url(/assets/card\ -\ Sandymount-Beach-County-Dublin-Ireland.jpg);
    background-size: cover;
    width: var(--cardwith);
    height: var(--cardheight);
    border-radius: var(--cardborderradius);
    transition: 0.5s;
}
.destination3{
    background-image: url(/assets/Ring-of-Kerry-Lookout-Car-Park-Ireland.jpg);
    background-size: cover;
    width: var(--cardwith);
    height: var(--cardheight);
    border-radius: var(--cardborderradius);
    transition: 0.5s;
}
.destination4{
    background-image: url(/assets/Ring-of-Kerry-Lookout-Car-Park-Ireland.jpg);
    background-size: cover;
    width: var(--cardwith);
    height: var(--cardheight);
    border-radius: var(--cardborderradius);
    transition: 0.5s;
}
.more{
    width: 50px;
    height:350px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: 0.5s;
}
.more:hover span{
    text-decoration: underline;
}

/* -- end popular destinations*/

.bgphoto-contentmain{
    height: 500px;
    margin-top: 150px;
}

.bgphoto{
    background-color: rgba(250, 232, 154, 0.308);
    width: 80%;
    height: 450px;
    padding: 100px 0 0 150px;
    box-shadow: 1px 1px 20px #0000004b;
}
.bgphoto-content{
    float: left;
    width: 600px;
    height: 300px;
    margin: 0 0 0 400px;
}
.brphoto-card{
    position: relative;
    background-image: url(/assets/--face\ -\ Geokaun-Feaghmaan-Kerry-Ireland.jpg);
    background-size: cover;
    width: 350px;
    height: 450px;
    padding: 150px
}
.bgphoto-indication{
    height: 50px;
    font-weight: bold;
}
.brphoto-card:hover{
    background-color: #000000;
    opacity: 0.9;
}
.bgphoto-title span{
    font-size: 40px;
}
.bgphoto-text{
    margin-top: 10px;
    height: 120px;
    display: flex;
}

/*Castles*/

.castles-ireland{
    margin-top: 200px;
    background-color: rgba(230, 231, 228, 0.349);
    height: 900px;
}
.castles-title{
    text-align: center;
    margin-top: 200px;
    font-size: 60px;
}
.castles-cards{
    margin-top: 150px;
    height: 400px;
}
.castle1{
    background-color: rgb(13, 14, 14);
    background-image: url(/assets/castle\ -\ dublincastle.jpg);
    background-size: cover;
    color: #000000;
    margin: 0 10px 0 50px;
    float: left;
    width: 40%;
    height: 510px;
    transition: 0.5s;
}
.castle-title{
    background-color: rgba(175, 175, 175, 0.61);
    text-align: justify;
    margin-top: 410px;
}
.castle1-title{
    background-color: rgba(175, 175, 175, 0.61);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 200px;
    text-decoration: none;
    color: #000000;
}

.castle2{
    background-image:url(/assets/castle-\ kilkenycastle.jpg);
    background-size: cover;
    float: left;
    width: var(--castlecardwidth);
    height: var(--castlecardheight);
    margin: var(--castlecardmargin);
    transition: 0.5s;
}
.castle3{
    background-image:url(/assets/castle-\ kilkenycastle.jpg);
    background-size: cover;
    float: left;
    width: var(--castlecardwidth);
    height: var(--castlecardheight);
    margin: var(--castlecardmargin);
    transition: 0.5s;
}
.castle4{
    background-image:url(/assets/castle-\ kilkenycastle.jpg);
    background-size: cover;
    float: left;
    width: var(--castlecardwidth);
    height: var(--castlecardheight);
    margin: var(--castlecardmargin);
    transition: 0.5s;
}
.castle5{
    background-image:url(/assets/castle-\ kilkenycastle.jpg);
    background-size: cover;
    float: left;
    width: var(--castlecardwidth);
    height: var(--castlecardheight);
    margin: var(--castlecardmargin);
    transition: 0.5s;
}
.castle6{
    background-image:url(/assets/castle-\ kilkenycastle.jpg);
    background-size: cover;
    float: left;
    width: var(--castlecardwidth);
    height: var(--castlecardheight);
    margin: var(--castlecardmargin);
    transition: 0.5s;
}
.castle7{
    background-image:url(/assets/castle-\ kilkenycastle.jpg);
    background-size: cover;
    float: left;
    width: var(--castlecardwidth);
    height: var(--castlecardheight);
    margin: var(--castlecardmargin);
    transition: 0.5s;
}
.castle{
    border-radius: 2px;
}

.castle:hover{
    visibility: visible;
    transform: scale(1.1);
}

.footer{
    background-color: var(--bgfooter);
    height: 200px;
    color: aliceblue;
    justify-content: center;
}
.footer a{
    color: var(--bgfooterlink);
}

.footer1{
    background-color: var(--bgfooter);
    width: 33%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-flow: wrap;
}
.logoir{
    height: 150px;
    width: 150px;
    background-image: url(/assets/ireland.png);
    background-size: cover;
    
}

.footer2{
    background-color: var(--bgfooter);
    width: 33%;
    float: left;
    height: 100%;
    transition: 0.3s;
}
.footer2 h1{
    color: var(--bgfooterlinkhoover);
    margin-bottom: 50px;
}
.footerlink:hover{
    color: brown;
}

.footer3{
    background-color: var(--bgfooter);
    width: 33%;
    float: left;
    height: 100%;
}
.footer3 h1{
    color: var(--bgfooterlinkhoover);
    margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
    .face-coment{
        width: 100%;
    }
    .bgphoto-text{
        display: flex;
    }
    .wheretogo{
        justify-content: center;
        text-align: center;
    }
    .card{
        justify-content: center;
        text-align: center;
    }
    .castles-cards{
        width: 100%;
        flex-direction: column;
    } 
    
}
@media screen and (max-width: 850px) {
    .footer{
        text-align: center;
    }
    .footer1{
        width: 100%;
    }
    .footer2{
        width: 100%;
    }
    .footer3{
        width: 100%;
    }
    
}







