@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}
:root{
    --bgcolornav: rgba(31, 31, 31, 0.89);
    --bgfaceellements: rgba(31, 31, 31, 0.493);
    --face-coments: rgb(197, 197, 197);


    --bgfooter: rgba(31, 31, 31, 0.89);
    --bgfooterlink: rgba(236, 236, 236, 0.89);
    --bgfooterlinkhoover: rgba(214, 83, 8, 0.89);
}

/* --nav */
.navbar-main{
    background-color: var(--bgcolornav);
    opacity: 0.7;
    width: 100%;
    line-height: 60px;
    position: fixed;
    color: white;
    z-index: 1;
}
.navbar-links{
    font-size: 17px;
    float: right;
    padding: 0 25px;
}
.navbar-links a{ 
    color: white;  
    padding: 0 25px;
}
/* --end nav */

/* Cliffs Image*/

.cliffs-image{
    background-image: url(/assets/--face-cliffs1.jpg);
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.welcome{
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px 20px #161515;
}
.cliffs-location{
    background-color: aqua;
    position: absolute;
}



/* -- end Cliffs Image*/























































/*container info*/


.container-info{
    width: 100%;
    height: 600px;
    transition: 0.5s;
}
.container-info1{
    width: 40%;
    height: 600px;
    float: left;
    background-color: rgba(7, 224, 0, 0.747);
    transition: 0.5s;
}
.container-info2{
    width: 60%;
    height: 300px;
    float: left;
    background-color: rgba(5, 82, 197, 0.795);
    transition: 0.5s;
}
.container-info3{
    width: 60%;
    height: 300px;
    float: right;
    background-color: rgba(118, 126, 124, 0.801);
    transition: 0.5s;
}
.info:hover{
    transform: scale(0.99);
}



@media screen and (max-width: 600px) {
    .container-info{
        display: block;
    }
    .container-info1{
        width: 100%;
        display: block;
    }
    .container-info2{
        width: 100%;
        display: block;
    }
    .container-info3{
        width: 100%;
        display: block;
    }
}

/*container info end*/























/*Photo*/

.container-photo{
    width: 100%;
    height: 500px;
    display: flex;/*alinha elementos*/
    justify-content: center;
    flex-flow: wrap;
    background-color: rgba(128, 128, 128, 0.308);
}
.photo{
    width: 50%;
    height: 100%;
    background-color: blueviolet;
}
.photo-info{
    width: 50%;
    height: 100%;
    background-color: rgb(46, 43, 226);
}
@media screen and (max-width: 600px) {
    .photo{
        display: block;
        width: 100%;
    }
    .photo-info{
        display: block;
        width: 100%;
    }
}





/* Photo end*/























































































/*Footer*/
.footer{
    background-color: var(--bgfooter);
    height: 200px;
    color: aliceblue;
    justify-content: center;
}
.footer a{
    color: var(--bgfooterlink);
}

.footer1{
    background-color: var(--bgfooter);
    width: 33%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-flow: wrap;
}
.logoir{
    height: 150px;
    width: 150px;
    background-image: url(/assets/ireland.png);
    background-size: cover;
    
}

.footer2{
    background-color: var(--bgfooter);
    width: 33%;
    float: left;
    height: 100%;
    transition: 0.3s;
}
.footer2 h1{
    color: var(--bgfooterlinkhoover);
    margin-bottom: 50px;
}
.footerlink:hover{
    color: brown;
}

.footer3{
    background-color: var(--bgfooter);
    width: 33%;
    float: left;
    height: 100%;
}
.footer3 h1{
    color: var(--bgfooterlinkhoover);
    margin-bottom: 50px;
}

/*End Footer*/

@media screen and (max-width: 1200px) {
    .face-coment{
        width: 100%;
    }
    .bgphoto-text{
        display: flex;
    }
  
    .card{
        justify-content: center;
        text-align: center;
    }
    .castles-cards{
        width: 100%;
        flex-direction: column;
    } 
    
}
@media screen and (max-width: 850px) {
    .footer{
        text-align: center;
    }
    .footer1{
        width: 100%;
    }
    .footer2{
        width: 100%;
    }
    .footer3{
        width: 100%;
    }
    
}







