
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;

}
:root{
    --bgcolornav: rgba(31, 31, 31, 0.89);
    --bgfaceellements: rgba(31, 31, 31, 0.493);
    --face-coments: rgb(197, 197, 197);

    --contcolor: rgba(15, 5, 5, 0.493);

    --bgphotos: rgba(255, 255, 255, 0);
    --bgphotostitle: rgba(150, 150, 150, 0.151);

    --brborder: 2px solid rgb(248, 171, 3);
    --bgcastlecontent: rgba(165, 153, 153, 0.925);


    --bgfooter: rgba(31, 31, 31, 0.89);
    --bgfooterlink: rgba(236, 236, 236, 0.89);
    --bgfooterlinkhoover: rgba(214, 83, 8, 0.89);
}

/* --nav */
.navbar-main{
    background-color: var(--bgcolornav);
    opacity: 0.7;
    width: 100%;
    line-height: 60px;
    position: fixed;
    color: white;
    z-index: 1;
}
.navbar-links{
    font-size: 17px;
    float: right;
    padding: 0 25px;
}
.navbar-links a{ 
    color: white;  
    padding: 0 25px;
}
/* --end nav */

/* Cliffs Image*/
.cliffs-image{
    background-image: url(/assets/--face-cliffs1.jpg);
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.welcome{
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px 20px #161515;
}
.cliffs-location{
    background-color: aqua;
    position: absolute;
    margin-left: 950px;
    margin-top: -200px;
}
/*end Cliffs Image*/

/*Ireland*/
.short-coment{
    width: 100%;
    height: 200px;
    background-color: aquamarine;
    margin: 50px 0 10px 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
/*End Ireland*/

/*Photos*/
.container-info{
    width: 100%;
    height: 600px;
    transition: 0.5s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 0;
    background-color: var(--bgphotos);
    
}
.cont-photo{
    width: 100%;
    height: 80%;
}
.cont-coment{
    height: 20%;
    background-color: var(--bgphotostitle);
    transition: 0.3s;
}
.cont-coment:hover{
    background-color: #16151556;
}
.cont-info{
    width: 20%;
    height: 90%;
}
.contphoto1-photo{
    background-image: url(/assets/card\ -\ The-Dar-hedges.jpg);
    background-size: cover;
    transition: 0.3s; 
}
.contphoto2-photo{
    background-image: url(/assets/castle-\ kilkenycastle.jpg);
    background-size: cover;
    transition: 0.3s;
}
.contphoto3-photo{
    background-image: url(/assets/card\ -\ sheeps.jpg);
    background-size: cover;
    transition: 0.3s;
}
.contphoto4-photo{
    background-image: url(/assets/dublina.jpg);
    background-size: cover;
    transition: 0.3s;
}
.contphoto1-photo:hover{
    transform: scale(0.99);
    opacity: 0.9;
}
.contphoto2-photo:hover{
    transform: scale(0.99);
    opacity: 0.9;
}
.contphoto3-photo:hover{
    transform: scale(0.99);
    opacity: 0.9;
}
.contphoto4-photo:hover{
    transform: scale(0.99);
    opacity: 0.9;
}
/*end /*Photos*/


/*Castles*/

.castle-container{
    
}





/*End Castles*/

/*Footer*/
.footer{
    margin-top: 150pxpx;
    background-color: var(--bgfooter);
    height: 200px;
    color: aliceblue;
    justify-content: center;
}
.footer a{
    color: var(--bgfooterlink);
}

.footer1{
    background-color: var(--bgfooter);
    width: 33%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-flow: wrap;
}
.logoir{
    height: 150px;
    width: 150px;
    background-image: url(/assets/ireland.png);
    background-size: cover;
    
}

.footer2{
    background-color: var(--bgfooter);
    width: 33%;
    float: left;
    height: 100%;
    transition: 0.3s;
}
.footer2 h1{
    color: var(--bgfooterlinkhoover);
    margin-bottom: 50px;
}
.footerlink:hover{
    color: brown;
}

.footer3{
    background-color: var(--bgfooter);
    width: 33%;
    float: left;
    height: 100%;
}
.footer3 h1{
    color: var(--bgfooterlinkhoover);
    margin-bottom: 50px;
}
/*End Footer*/


    
@media screen and (max-width: 850px) {


    /*Photos*/
    .container-info{
        background-color: rgba(240, 248, 255, 0);
    }
    .contphoto1, .contphoto2, .contphoto3, .contphoto4{
        width: 100%;
        height: 400px;
    }
    .container-photo{
        margin-top: 1200px;
    }
    .container-castle{
        margin-top: 1000px;
    }
    /*End photos*/



    /*Footer*/
    .footer{
        text-align: center;
        margin-top: 1000px;
    }
    .footer1{
        width: 100%;
    }
    .footer2{
        width: 100%;
    }
    .footer3{
        width: 100%;
    }
    /*End Footer*/
}







